.currentButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  margin: 0 0.160rem;
}

.buttonItem {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  background: var(--cyan-500);
  margin: 0 0.160rem;
}
